# macOS noise
.DS_Store
._*
.Spotlight-V100
.Trashes

# temporary files
*.log
*.tmp

# editor folders
.vscode
.idea

# emulator snapshots (usually large and not useful in git)
*.vsf

# temporary build artefacts
*.o
*.out

# optional ignores (uncomment if desired)

# disk images (comment out if you WANT versioned disks)
# *.d64
# *.t64
# *.tap

# binaries
*.prg

# compressed archives
*.zip
*.gz
*.7z
